{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Категории</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    {{ title|title }}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ update_form.as_p }}
                            <input class="form-control" type="submit" value="сохранить">
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admin_stuff:categories' %}">
                        <button class="btn btn-success">К списку категорий</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}