{% extends 'mainapp/base.html'%}
{%load static%}

{%block content%}
	<div class="hero-white">
		{%include 'geekshop/includes/header.html'%}
	</div>

	<div class="details">

		<div class="details-products">
            {%if product%}
			<div class="details-slider">
				
				<div class="slider-product">
					<img src="/media/{{product.image}}" class="hot_product_img">
				</div>
				
			</div>

			<div class="description">
				<h3 class="big-bold">{{product.name}}</h3>
				<p class="price">{{product.price}} <span>руб</span></p>
				<a href="{% url 'basket:add' product.pk %}" class="red-button">
					заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
				<div class="description-text">
					<p>{{product.short_desc}}</p>
				</div>
			</div>
            {%endif%}
		</div>
        {%if same_products%}
		<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="#">показать все <img src="{% static 'geekshop/img/arrow.png'%}" alt=""></a>
			</div>
			<div class="related-products clearfix">

			{% for product in same_products  %}
				<div class="block">
					<a href="{% url 'products:detail' product.pk %}"><img src="/media/{{ product.image }}" alt="" class="product_img">
						<div class="text">
							<img src="{% static 'geekshop/img/icon-hover.png'%}" alt="img">
							<h4>{{ product.name }}</h4>
							<p>{{ product.short_desc }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
        
			</div>
		</div>
        {%endif%}
	</div>
{%endblock%}