{% extends 'mainapp/base.html'%}
{%load static%}

{% block content %}
    <div class="hero-white">
            {%include 'geekshop/includes/header.html'%}
    </div>
            {%include 'includes/inc_menu.html'%}

        <div class="products_list">
            <div class="title clearfix">
                <h2>
                    Категория: "{{ category.name|title }}"
                </h2>
            </div>
           <div class="category-products related-products clearfix">
                {% for product in products %}
                        <div class="block">
                            <a href="{% url 'products:detail' product.pk %}">
                                <img class="product_img" src="/media/{{ product.image }}" alt="product">
                                <div class="text">
                                    <img src="{% static 'geekshop/img/icon-hover.png' %}">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.short_desc }}</p>
                                </div>
                            </a>
                        </div>
                {% endfor %}

                <!-- <div class="paginator">
                    {% if products.has_previous %}
                        <a href="{% url 'products:page' products.previous_page_number %}">
                            <
                        </a>
                    {% endif %}
                    <span class="current">
                        страница {{ products.number }} из
                        {{ products.paginator.num_pages }}
                    </span>
                    {% if products.has_next %}
                        <a href="{% url 'products:page' products.next_page_number %}">
                            >
                        </a>
                    {% endif %}
                </div> -->

           </div>
        </div>

{% endblock %}
