{% extends 'mainapp/base.html'%}
{%load static%}

{%block content%}
	<div class="hero-white">
		{%include 'geekshop/includes/header.html'%}
	</div>

	<div class="details">
		{% include 'includes/inc_menu.html' %}

		<div class="details-products">
			{%if hot_product%}
			<div class="details-slider">
				<div class="slider-product">
					<img src="/media/{{hot_product.image}}" class="hot_product_img">
				</div>
				<div class="slider-control">
					<div class="block">
						<a href="{url 'products:detail' hot_product.pk}"><img src="{% static 'geekshop/img/controll.jpg'%}" alt="">
							<div class="text"></div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="{% static 'geekshop/img/controll1.jpg'%}" alt="">
							<div class="text"></div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="{% static 'geekshop/img/controll2.jpg'%}" alt="">
							<div class="text"></div>
						</a>
					</div>
				</div>
			</div>

			<div class="description">
				<h3 class="big-bold">{{hot_product.name}}</h3>
				<h3 class="red">горячее предложение</h3>
				<p class="price">{{hot_product.price}} <span>руб</span></p>
				<a href="{% url 'products:detail' hot_product.pk %}" class="red-button">
					заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
				</a>
				<div class="description-text">
					<p>{{hot_product.short_desc}}</p>
				</div>
			</div>
			
			{%endif%}
		</div>

		<div class="related">
			<div class="title clearfix">
				<h2>Похожие продукты</h2>
				<a class="explore" href="{% url 'products:category' hot_product.pk %}">показать все <img src="{% static 'geekshop/img/arrow.png'%}" alt=""></a>
			</div>
			<div class="related-products clearfix">

			{% for product in same_products  %}
				<div class="block">
					<a href="{% url 'products:detail' product.pk %}"><img src="/media/{{ product.image }}" alt="" class="product_img">
						<div class="text">
							<img src="{% static 'geekshop/img/icon-hover.png'%}" alt="img">
							<h4>{{ product.name }}</h4>
							<p>{{ product.short_desc }}</p>
						</div>
					</a>
				</div>
			{% endfor %}

			</div>
		</div>
	</div>

	<div class="clr"></div>
{%endblock%}