<div class="header clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'index' %}" class="{%if request.resolver_match.url_name == 'index'%}active{%endif%}">домой</a></li>
        <li><a href="{% url 'products:products' %}" class="{%if request.resolver_match.url_name == 'products'%}active{%endif%}">  продукты</a></li>
        <li><a href="{% url 'contacts' %}" class="{%if request.resolver_match.url_name == 'contacts'%}active{%endif%}">контакты</a></li>
        {% if user.is_authenticated %}
            <li>
                <a href="{%url 'auth:edit'%}">
                   {{ user.first_name|default:'Пользователь' }}
                </a>
            </li>
        {%endif%}
        <li>
            {% if user.is_authenticated %}
                <a href="{%url 'auth:logout'%}">выйти</a>
            {%else%}
                <a href="{%url 'auth:login'%}">войти</a>
            {%endif%}
        </li>
    </ul>
    {%if request.resolver_match.namespace != 'basket'%}
    <!-- {#%if request.resolver_match.namespaces[0] != '[basket]'%} -->
        <a href="#" class="search"></a>
    {%endif%}
    <a href="{% url 'basket:view' %}" class="basket" style="width:100px">
        <span>
            {% if basket %}
                {{ basket.0.total_cost|floatformat:0 }} руб
                ({{ basket.0.total_quantity }} шт)
<!--                {{ basket.0}}-->
            {% endif %}
        </span>
    </a>
</div>